%section.content-header
  %h1
    マッハギフト
%section.content
  %div.row
    .col-md-6
      .box
        .box-header
          %h3.box-title
            募集中のギフト
        .box-body.no-padding
          %table.table
            %thead
              %tr
                %th
                  募集者
                %th
                  商品名
                %th
                  ゴール
                %th
                  残り
            %tbody
              %tr
                %td
                  shao1555
                %td
                  iPad Pro 10.1"
                %td
                  %div.progress.progress-xs
                    %div.progress-bar.progress-bar-danger{style: 'width: 55%'}
                %td
                  3時間
              %tr
                %td
                  shao1555
                %td
                  ボールペン
                %td
                  %div.progress.progress-xs
                    %div.progress-bar.progress-bar-success{style: 'width: 99%'}
                %td
                  5分